# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- NumPy
- Scikit-learn

## Data Science Tools

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| TensorFlow         |
| Matplotlib         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print("Result:", result)

Result: 17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print(minutes, "minutes equal to", hours, "hours")

200 minutes equal to 3.3333333333333335 hours

**Objectives:**
- List popular languages for Data Science
- Introduce common libraries in Data Science
- Demonstrate basic arithmetic operations in Python

## Author
- Oscar Pe√±as